{
    "presets": [
        "env",
        "react",
        "stage-2"
    ],
    "plugins": [
        ["relay", {"schema":"./data/schema.json"}],
        "babel-relay-plugin-loader",
        "./src/babelRelayPlugin"
    ]
}