@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
/* CSS Document */

/* MAIN */
body, input {
	font-family: Quicksand, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: lightgray;
}
p { line-height: 1.3; }
.transition, a, #discussions, header {
	-webkit-transition: 	all 0.7s ease-out; /* Safari */
    transition: 			all 0.7s ease-out;
}

.app {
	display: grid;
	grid-template-columns: 65px 1fr;
	height: 100vh;
	width: 100vw;
}

.app-right {
	display: grid;
	grid-template-rows: 50px 2fr 1fr 3fr;
}

/* VARS */
:root {
	--purple: #572C86;
	--green: #8DC63F;
	--br: 4px ;
}

/* MAIN NAV */
#main-nav {
	background-color: var(--purple);
	color: #fff;
	height: 50px;
	width: 65px;
	text-align: center;
}
.home-logo {
	padding-top: 5px;
	height: 50px;
}
nav#main > ul {
	list-style: none;
}
nav#main a {
	color: #fff;
	text-decoration: none;
}
.icon-go:hover {
	color: var(--green)
}
.nav-icon {
	display: inline-block;
	border-radius: var(--br);
	padding: 0.8em;
	margin: 0.8em;
	font-size: 7px;
	text-transform: uppercase;
}
.nav-icon:hover {
	background: grey;
}
nav#main i {
	font-size: 2rem;
	display: inline-block;
}
.main-bot {
	background-color: var(--purple);
	width: 100%;
	padding: 3px;
}
@media screen and (max-width: 480px) {
	#main p {
		font-size: 18px;
	}
	.main-bot {
		width: 100vw;
	}
	.nav-icon {
		width: 180px;
		display: grid;
		grid-template-columns: 50px 1fr;
		text-align: left;
	}
}

/* ICONS */
i[class^="icon-"] {
	font-weight: normal !important;
}

img.user {
	border-radius: var(--br);
}

/* HEADER */
header {
	background: #8b8b8b;
	color: #fff;
	display: grid;
	width: 100%;
	grid-template-columns: 50px minmax(max-content, 1fr) 100px;
}
header a {
	color: #fff;
	text-decoration: none;
}
header a, 
.header-title {
	display: inline-block;
}
.header-title {
	max-width: 250px;
}
.section-name {
	margin-top: 1.3em;
}
header a {
	width: 50px;
	height: 50px;
	text-align: center;
}
header a:hover {
	color: var(--purple);
	background: #fff;
} 
header a i {
	display: block;
	margin-top: 30%;
}
.header-title {
	padding: 0 5px 0 5px;
}
.section-name {
	width: 100%;
	display: block;
	font-size: 8px;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.section {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2rem;
}
ul.actions > li {
	display: inline-block;
}
ul.actions > li i {
	font-size: 1.3rem;
}

/* FEATURE FORM */

.feature-form {
	grid-row: 3;
	margin: 0 5rem 0 1rem;
}

.form-wrapper {
	display: grid;
	grid-template-columns: 1fr min-content repeat(2, minmax(100px, 1fr)) min-content;
	grid-gap: 0.5em;
	height: 34px;
}

.btn-feature,
.btn-type {
	height: 34px;
	width: 34px;
	background-color: transparent;
	border: none;
	text-align: center;
}

.btn-feature:hover,
.btn-type:hover {
	background-color: var(--green);
	color: #fff;
}

.btn-type {
	margin: 0;
}

.dropdown-menu,
button#dropdown-custom-menu {
	width: 100%;
	background-color: #fff;
}

.dropdown {
	height: 34px;
}

.dropdown-menu {
	padding: 3px;
}

@media screen and (max-width: 500px) {
	.form-wrapper {
		grid-template-areas:
		'a a'
		'b b'
		'c c'
		'd .';
		grid-template-columns: none;
	}
	#dropdown-custom-menu {
		grid-area: a;
	}
	.form-group {
		max-width: 200px;
		margin-bottom: 0;
	}
	.form-name {
		grid-area: b;
	}
	.form-code {
		grid-area: c;
	}
	.btn-feature {
		grid-area: d;
	}
}